.Player {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-color: #D1DDE6;*/
}

.audio-player {
    width: 60%;
    height: 8vh;
    box-shadow: 0 0 10px #839B96;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-play:hover {
    cursor: pointer;
}

.focus {
    background-color: #D3B9FF;
}